* {
  /* All */
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  /* box-sizing: border-box; */
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#wrapper {
  max-width: 375px;
  height: 734px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-left: 24px;
  /* 그전에 사용한 가운데 정렬 코드(지금은 사용 안함)
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
/* 여기까지는 웹앱 사이즈 고정 */

footer {
  width: 375px;
  height: 78px;
  margin: 0 auto;
  position: relative;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #ffffff;
}

header img {
  width: 113.77551px;
  height: 25px;
}

.user-mood {
  margin-top: 36px;
  display: flex;
}

.user-mood_column {
  display: flex;
  flex-direction: column;
}



.text {
  display: flex;
  font-size: 22px;
  font-weight: 500;
}

.first-line :last-child{
  display: block;
}
.user-name {

}


.mood-select-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1F7FC;
  width: 124px;
  height: 40px;
  border: #C5EDF6;
  border-radius: 40px;
  margin-right: 24px;
  margin-left: 56px;
}

.mood-select-btn :first-child {
  font-size: 16px;
  font-weight: 500;
}



.mood-select-btn :last-child {
  font-size: 8px;
  padding-left: 14px;
  color: #B3E4EF;
}

.btn-list {
  display: flex;
}

.btn-list_btn {
  display: flex;
  flex-direction: column;
  width: 89px;
  height: 83px;
  border-radius: 16px;
  border-color: #E9E9E9;
  justify-content: center;
  align-items: center;
}

.btn-list_btn img {
  width: 24px;
  height: 23px;
}

.btn-list_btn span {
  font-size: 11px;
  font-weight: 500;
  height: 23px;
  margin-top: 22px;
}