* {
  /* All */
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  /* box-sizing: border-box; */
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#wrapper {
  max-width: 375px;
  height: 734px;
  margin: 0 auto;
  background-color: #f5f5f5;
  /* 그전에 사용한 가운데 정렬 코드(지금은 사용 안함)
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
/* 여기까지는 웹앱 사이즈 고정 */

footer {
  width: 375px;
  height: 78px;
  margin: 0 auto;
  position: relative;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #ffffff;
}
