<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/Home.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <title>roomik</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <img src="/roomik_project/static/images/home_logo.png" alt="" />
      </header>
      <div class="user-mood">
        <div class="user-mood_column">
          <div class="text">
            <div class="first-line">
              <span class="user-name"> 미정 </span>
              <span>님.</span>
            </div>
            <div class="second-line">
              <span>오늘 기분 어때요?</span>
            </div>
          </div>
          <div class="user-mood_column">
            <div class="mood-select-btn">
              <span>😢 슬퍼요</span>
              <span>▼</span>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-list">
      <div class="btn-list_btn">
        <img src="/roomik_project/static/images/btn_img1.png" alt="" />
        <span>오늘 할일</span>
      </div>
      <div class="btn-list_btn">
        <img src="/roomik_project/static/images/btn_img2.png" alt="" />
        <span>룸메 할일</span>
      </div>
      <div class="btn-list_btn">
        <img src="/roomik_project/static/images/btn_img3.png" alt="" />
        <span>내일 할일</span>
      </div>
    </div>
    </div>

    

    <footer id="navigation"></footer>
    <!-- <script src="../static/js/Splash.js"></script> -->
  </body>
</html>
