<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/Splash.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <title>roomik</title>
  </head>
  <body>
    <div id="wrapper">
      <img
        id="logo"
        src="../static/images/splashlogo.png"
        alt="스플래쉬 로고"
        width="223px"
        height="49px"
      />
    </div>
    <!-- <script src="../static/js/Splash.js"></script> -->
  </body>
</html>
